button{
  color:rgb(255, 255, 255);
  font-weight: 700;
  font-size: 0.85rem;
  margin:10px;
  background-color: rgb(5, 14, 83);
  padding:5px 15px 5px 15px;
  border-radius: 5px;
  border:none;
  
}

button:hover{
  background-color: antiquewhite;
  color: rgb(13, 13, 88);
  border: 2px solid rgb(2, 22, 63);
  

}